<h1>Listing all Character</h1>

<p>
    <li><%= link_to "Create a Character", new_todo_path %></li>
</p>


<table>
    <tr>
        <th>Name</th>
        <th>Description </th>
    </tr>
    <%@todos.each do |todo|%>
        <tr>
            <td><%= todo.name %></td>
            <td><%= todo.description %></td>
            <td><%= link_to "Edit Character", edit_todo_path(todo) %></td>
            <td><%= link_to "Show Character", todo_path(todo) %></td>
            <td><%= link_to "Delete Character", todo_path(todo), method: :delete, data: { confirm: 'Are you sure?' }%></td>
        </tr>
    <% end %>

</table>

<li><%= link_to "Back", root_path %></li>